.App {
  text-align: center;
}
body{
  font-family: 'PuradakGentleGothicR';

}

@font-face {
  font-family: 'PuradakGentleGothicR';
  src: url('./fonts/PuradakGentleGothic.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}